@{ 
    ViewBag.Title = "About"; 
}
<br />
<h2> HotelSite</h2>
<h3>  Мы - команда отеля HotelSite!</h3>

<p>
    Мы стараемся обслуживать наших клиентов на высшем уровне и
    всегда стремимся сделать наш сервис еще лучше.
</p>