@{
    ViewData["Title"] = "AdminPanel";
}

<h1>Панель администратора</h1>
<br />
<div class="list-group">
    <a asp-action="Roles" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Роли</h5>
        </div>
        <p class="mb-1">Изменение списка пользователей роли.</p>
    </a>
    <a asp-action="Users" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Пользователи</h5>
        </div>
        <p class="mb-1">Добавление/удаление пользователей, редактирование информации о них.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>
</div>
